# Flash Kernel initialization script
# Pieces taken from @anarkia1976, @franciscofranco, @frap129, and @flar2

on post-fs
   write /dev/cpuset/foreground/cpus 0-7
   write /dev/cpuset/foreground/boost/cpus 0-7
   write /dev/cpuset/background/cpus 0-7
   write /dev/cpuset/system-background/cpus 0-7

on boot

   # Enable double-tap-to-wake.
   chown root root /sys/android_touch/doubletap2wake
   chmod 666 /sys/android_touch/doubletap2wake
   write /sys/android_touch/doubletap2wake 1
   chmod 644 /sys/android_touch/doubletap2wake

   # Set vibration strength to 27 (50% in EXKM)
   chown root root /sys/android_touch/vib_strength
   chmod 666 /sys/android_touch/vib_strength
   write /sys/android_touch/vib_strength 27
   chmod 644 /sys/android_touch/vib_strength

on property:sys.boot_completed=1
   # according to Qcom this legacy value improves first launch latencies
   # stock value is 512k
   # from franciscofranco
   setprop dalvik.vm.heapminfree 2m

   # Frequency values
   write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 384000
   write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1248000
   write /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq 384000
   write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 768000
   # Force cores #6 and #7 offline
   write /sys/module/msm_performance/parameters/max_cpus "-1:2"
   # Little values
   write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor flash
   write /sys/devices/system/cpu/cpu0/cpufreq/flash/go_hispeed_load 99
   write /sys/devices/system/cpu/cpu0/cpufreq/flash/above_hispeed_delay 0
   write /sys/devices/system/cpu/cpu0/cpufreq/flash/timer_rate 40000
   write /sys/devices/system/cpu/cpu0/cpufreq/flash/hispeed_freq 672000
   write /sys/devices/system/cpu/cpu0/cpufreq/flash/timer_slack 380000
   write /sys/devices/system/cpu/cpu0/cpufreq/flash/target_loads "90 460800:85 600000:90 672000:95 768000:85 864000:99 960000:99 1248000:100"
   write /sys/devices/system/cpu/cpu0/cpufreq/flash/min_sample_time 80000
   write /sys/devices/system/cpu/cpu0/cpufreq/flash/align_windows 0
   write /sys/devices/system/cpu/cpu0/cpufreq/flash/use_migration_notif 0
   write /sys/devices/system/cpu/cpu0/cpufreq/flash/use_sched_load 0
   write /sys/devices/system/cpu/cpu0/cpufreq/flash/max_freq_hysteresis 80000
   write /sys/devices/system/cpu/cpu0/cpufreq/flash/fastlane 0
   write /sys/devices/system/cpu/cpu0/cpufreq/flash/fastlane_threshold 0
   write /sys/devices/system/cpu/cpu0/cpufreq/flash/powersave_bias 1
   write /sys/devices/system/cpu/cpu0/cpufreq/flash/ignore_hispeed_on_notif 1
   write /sys/devices/system/cpu/cpu0/cpufreq/flash/fast_ramp_down 1
   write /sys/devices/system/cpu/cpu0/cpufreq/flash/screen_off_maxfreq 864000
   # Big values
   write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor flash
   write /sys/devices/system/cpu/cpu4/cpufreq/flash/go_hispeed_load 99
   write /sys/devices/system/cpu/cpu4/cpufreq/flash/above_hispeed_delay 40000
   write /sys/devices/system/cpu/cpu4/cpufreq/flash/timer_rate 80000
   write /sys/devices/system/cpu/cpu4/cpufreq/flash/hispeed_freq 384000
   write /sys/devices/system/cpu/cpu4/cpufreq/flash/timer_slack 380000
   write /sys/devices/system/cpu/cpu4/cpufreq/flash/target_loads "99 384000:90 480000:95 633600:99 768000:100"
   write /sys/devices/system/cpu/cpu4/cpufreq/flash/min_sample_time 80000
   write /sys/devices/system/cpu/cpu4/cpufreq/flash/align_windows 0
   write /sys/devices/system/cpu/cpu4/cpufreq/flash/use_migration_notif 0
   write /sys/devices/system/cpu/cpu4/cpufreq/flash/use_sched_load 0
   write /sys/devices/system/cpu/cpu4/cpufreq/flash/max_freq_hysteresis 80000
   write /sys/devices/system/cpu/cpu4/cpufreq/flash/fastlane 0
   write /sys/devices/system/cpu/cpu4/cpufreq/flash/fastlane_threshold 0
   write /sys/devices/system/cpu/cpu4/cpufreq/flash/powersave_bias 1
   write /sys/devices/system/cpu/cpu4/cpufreq/flash/ignore_hispeed_on_notif 1
   write /sys/devices/system/cpu/cpu4/cpufreq/flash/fast_ramp_down 1
   write /sys/devices/system/cpu/cpu4/cpufreq/flash/screen_off_maxfreq 633600
   # Input boost values
   write /sys/module/cpu_boost/parameters/input_boost_enabled 0
   write /sys/module/cpu_boost/parameters/input_boost_freq "0:0 1:0 2:0 3:0 4:0 5:0 6:0 7:0"
   write /sys/module/cpu_boost/parameters/input_boost_ms 0

   # Make sure governor sys paths have the correct permissions
   chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
   chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
   chown system system /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor
   chmod 0664 /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor

   # Make sure all the cpufreq sys paths have the correct permissions
   chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
   chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
   chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
   chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
   chown system system /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq
   chmod 0664 /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq
   chown system system /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq
   chmod 0664 /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq

   # Disable core control, enable msm_thermal
   write /sys/module/msm_thermal/core_control/enabled 0
   write /sys/module/msm_thermal/parameters/enabled 1

   # Enable Fingerprint boost
   write /sys/kernel/fp_boost/enabled 1

   # Backlight dimmer
   write /sys/module/mdss_fb/parameters/backlight_dimmer 1

   # Sound settings
   write /sys/kernel/sound_control/speaker_gain "23 23"
   write /sys/kernel/sound_control/headphone_pa_gain "1 1"
   write /sys/kernel/sound_control/mic_gain 10
   write /sys/kernel/sound_control/headphone_gain "6 6"

   # Vibration strength
   write /sys/class/timed_output/vibrator/vmax_mv_strong 2000
   write /sys/class/timed_output/vibrator/vmax_mv_light 1650

   # I/O scheduler - maple - 512kb
   write /sys/block/mmcblk0/queue/scheduler maple
   write /sys/block/mmcblk0/queue/read_ahead_kb 512

   # Don't treat storage as rotational
   write /sys/block/mmcblk0/queue/rotational 0

   # bcmdhd wakeup sources
   write /sys/module/wakeup/parameters/enable_wlan_rx_wake_ws 0
   write /sys/module/wakeup/parameters/enable_wlan_ctrl_wake_ws 0
   write /sys/module/wakeup/parameters/enable_wlan_wake_ws 0
   write /sys/module/wakeup/parameters/enable_ipa_ws 0
   write /sys/module/wakeup/parameters/enable_si_ws 0
   write /sys/module/wakeup/parameters/enable_msm_hsic_ws 0
   write /sys/module/wakeup/parameters/enable_bluedroid_timer_ws 0
   write /sys/module/wakeup/parameters/enable_timerfd_ws 0
   write /sys/module/wakeup/parameters/enable_netlink_ws 0

   # Special power script - executes three times under different SELinux contexts
   exec u:r:init:s0 root root -- /init.special_power.sh
   exec u:r:su:s0 root root -- /init.special_power.sh
   exec u:r:supersu:s0 root root -- /init.special_power.sh
